TOKEN=ТОКЕН_ВАШЕГО_БОТА# запросите у @BotFather
ADMINS=000000,111111,222222# ID админов через запятую
HOST_REDIS=my-redis# название не меняем, это нужно для docker!
PORT_REDIS=6379# порт по умолчанию
USERNAME_REDIS=default# имя пользователя по умолчанию
PASSWORD_REDIS=password#пароль для вашего Redis